h1 {
  text-align: center;
  color: cornflowerblue;
}

.Queso {
  height: 200px;
}
a:link {
  text-decoration: none;
}
.Pic404 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
}

